@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    /* border-radius: 20px; */
    box-shadow: 0 25px 50px rgba(255, 255, 255, 0.1);
    /* padding: 4rem; */
    /* width: 40rem; */
  }

.glass {
  background: rgba( 251, 251, 251, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
}

.glass2{
  background: rgba( 244, 237, 236, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
}